<form method="post" action="{{ path('app_super_hero_delete', {'id': super_hero.id}) }}" onsubmit="return confirm('Êtes-vous sûr(e) de vouloir supprimer ce Super Héros ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ super_hero.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
