{% extends 'base.html.twig' %}

{% block title %}Créer un Super Héros{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="mb-4">Créer un Super Héros</h1>
        {{ include('super_hero/_form.html.twig') }}
        <a href="{{ path('app_super_hero_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
    </div>
{% endblock %}
