{% extends 'base.html.twig' %}

{% block title %}Créer une Mission{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1 class="text-center text-primary mb-4">Créer une Nouvelle Mission</h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-success mt-3">Créer</button>
    <a href="{{ path('app_mission_index') }}" class="btn btn-secondary mt-3">Retour</a>
    {{ form_end(form) }}
    
</div>
{% endblock %}
