/* Background général vibrant pour l'univers des super-héros */
body {
    background: linear-gradient(135deg, #1d3557, #457b9d, #e63946) !important; /* Bleu et Rouge avec un dégradé épique */
    color: #ffffff; /* Couleur du texte */
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}
/* Background vibrant pour SuperHero Hub */
.bg-superhero {
    background: linear-gradient(135deg, #e63946, #457b9d, #1d3557);
    color: #ffffff;
    min-height: 100vh;
}

/* Ajustement des couleurs du texte si nécessaire */
.text-light {
    color: #f8f9fa !important;
}

/* Section Hero (Bienvenue dans l'univers des super héros) */
.hero-section {
    background: linear-gradient(135deg, #d32f2f, #c2185b, #ff8f00);
    color: #ffffff;
    padding: 40px 0;
    text-align: center;
}

/* Bouton Explorez les héros */
.btn-marvel-red {
    background: linear-gradient(45deg, #e63946, #d32f2f);
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 1.3rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 5px 15px rgba(211, 47, 47, 0.5);
}

.btn-marvel-red:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #d32f2f, #b71c1c);
}

/* Appliquer une couleur de texte visible sur les tables */
.table-dark td, .table-dark th {
    color: #f8f9fa; /* Blanc cassé */
}

/* Style pour les images dans le tableau */
.table td img {
    border-radius: 8px; /* Coins arrondis */
    border: 2px solid #343a40; /* Bordure */
}

/* Couleurs des boutons pour les actions */
.btn-info {
    background-color: #17a2b8;
    border-color: #117a8b;
    color: #fff;
}

.btn-warning {
    background-color: #ffc107;
    border-color: #e0a800;
    color: #212529;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #bd2130;
    color: #fff;
}

.zoomable:hover {
    transform: scale(1.05); /* Effet de zoom */
    transition: all 0.3s ease; /* Transition fluide */
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.5); /* Ombre */
}
.form-check-input {
    margin-right: 10px;
    cursor: pointer;
}
.form-check-inline {
    display: inline-block;
    margin-right: 15px;
}
