<form method="post" action="{{ path('app_equipe_delete', {id: equipe.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
